<div class="container">
  <div class="row">

    <div class="col-4 col-6-medium col-12-small">
      <section>
        <header>
          <h2>Some links</h2>
        </header>
        <ul class="divided">
          <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
          <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>

      </section>
    </div>
    <div class="col-4 col-12-medium">
      <section>
        <header>
          <h2>Social</h2>
        </header>
        <ul class="social">
          <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
          <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
          <li><a class="icon fa-dribbble" href="#"><span class="label">Dribbble</span></a></li>
          <li><a class="icon fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
          <li><a class="icon fa-linkedin" href="#"><span class="label">LinkedIn</span></a></li>
        </ul>
      </section>
    </div>


    <div class="col-4 col-12-medium">
      <section>
        <header>
          <h2>Contact</h2>
        </header>

        <ul class="contact">
          <li>
            <h3>Address</h3>
            <p>
              Osnovna šola Fara<br />
              Fara 3<br />
              1336 Kostel
            </p>
          </li>
          <li>
            <h3>Mail</h3>
            <p><a href="#">os.fara@guest.arnes.si</a></p>
          </li>
          <li>
            <h3>Telefon</h3>
            <p>01-8942-160</p>
          </li>
        </ul>
      </section>
    </div>
    <div class="col-12">

      <!-- Copyright -->
        <div id="copyright">
          <ul class="links">
            <li>&copy; Explosive Candy. All rights reserved.</li>
          </ul>
        </div>

    </div>
  </div>
</div>
