<ul>
  <li class="current"><a href="/">Domov</a></li>
  <li><a href="/Kontakt.html">O šoli</a>
    <ul>
      <li><a href="/Osnovni_podatki.html">Osnovni podatki</a></li>

      <li>
        <a href="/docs/OŠ2025.pdf">Organi šole &#8594</a>
        <ul>
          <li><a href="/docs/SŠV22_23.pdf">Svet šole</a></li>
          <li><a href="/docs/SVETSTARŠEV22_23.pdf">Svet staršev</a></li>
        </ul>
      </li>
      <li>
        <a href="/Osilnica_info.html">Podružnica osilnica &#8594</a>
        <ul>
         
          <li><a href="/Osilnica_info.html">O šoli</a></li>
        </ul>
      </li>
    </ul>
  </li>
	
  <li><a href="/zaucenceinstarse.html">Za učence in starše</a>
    <ul>
      <li><a href="/docs/URNIK2526.pdf" target="_blank">Urnik 2025 - 2026</a></li>
      <li><a href="/docs/ŠZ26.pdf" target="_blank">Šolski zvonec 2025 - 2026</a></li>
      
      <li><a href="/docs/PREDMETNIK2425.pdf" target="_blank">Predmetnik 2025 - 2026</a></li>
	 
      <li><a href="/docs/PREDMETI26.pdf" target="_blank">Zaposleni na Oš Fara 2025 - 2026</a></li>
      <li><a href="/docs/ŠVN2526.pdf" target="_blank">Šola v naravi 2025 - 2026</a></li>
      <li><a href="/docs/GU2526.pdf" target="_blank">Govorilne ure za učence in starše 2025 - 2026</a></li>
      <li><a href="/docs/ŠOLSKI_KOLEDAR_2425.pdf" target="_blank">Šolski koledar 2025 - 2026</a></li>
      <li><a href="/docs/IP26.pdf" target="_blank">Izbirni predmeti 2025 - 2026</a></li>
      <li><a href="/Govorilne_ure.html">Govorilne ure in roditeljski sestanki 2025 - 2026</a></li>
      <li><a href="/docs/DD2526.pdf" target="_blank">Dnevi dejavnosti 2025 - 2026</a></li>
      <li><a href="/docs/ŠP2526.pdf" target="_blank">Šolska pot 2025 - 2026</a></li>
      <li><a href="/docs/PROJ2526.pdf" target="_blank">Projekti 2025 - 2026</a></li>
      <li><a href="/docs/DEC2526.pdf" target="_blank">Jedilnik DECEMBER 2025</a></li>  
      <li><a href="/docs/PŠP.pdf" target="_blank">Pravilnik o šolski prehrani</a></li>
	  <li><a href="/docs/NPZ26.pdf" target="_blank">Nacionalno preverjanje znanja 2026</a></li>
		<li><a href="/docs/JV2526.pdf" target="_blank">Jutranje varstvo, podaljšano bivanje 2025 - 2026</a></li>
		<li><a href="/docs/ŠK2526.pdf" target="_blank">Šolska knjižnica 2025 - 2026</a></li>
     
  
 


    </ul>
  </li>

  <li><a href="/SolskaSvetovalnaSluzba.html">Svetovalna služba</a>
    <ul>
      <li><a href="/docs/VpisV_1_Razred.pdf" target="_blank">Vpis v 1. razred</a></li>
      <li><a href="/docs/UčenciSPosebnimiPotrebami.pdf" target="_blank">Otroci s posebnimi potrebami</a></li>
      <li><a href="/docs/VpisVSsrednjeSole.pdf">Vpis v srednje šole</a></li>
      <li><a href="/docs/NadarjeniUcenci.pdf">Nadarjeni učenci</a></li>
      <li><a href="/docs/SodelovanjeSSvetovalnimCentromOSLjuboŠercer.pdf" target="_blank">Sodelovanje s svetovalnim centrom Ljubo Šercer</a></li>
      <li><a href="/docs/PomocVstiski.pdf" target="_blank">Pomoč v stiski</a></li>
      <li><a href="/docs/PreventivnoDelo.pdf" target="_blank">Preventivno delo</a></li>
      <li><a href="/docs/VrtecFara.pdf" target="_blank">Vrtec Fara</a></li>
    </ul>
  </li>
 
   <li><a href="/docs/VRTEC FARA.pdf" target="_blank">Vrtec</a>
    <ul>
      <li><a href="/docs/BZ.pdf" target="_blank">Bralna značka</a></li>
      <li><a href="/docs/LDN2425.pdf" target="_blank">Letni delovni načrt Vrtca</a></li>
      <li><a href="/docs/PS.pdf" target="_blank">Pooblastilo staršem o oddaji otroka drugi osebi</a></li>
      <li><a href="/InformacijeVrtec.html">Informacije</a></li>
      <li><a href="/docs/Pravilnik o varnosti otrok.pdf" target="_blank">Pravilnik o varnosti otrok</a></li>
      <li><a href="/docs/Obrazci.pdf" target="_blank">Obrazci - vloge</a></li>
      <li><a href="/docs/DEC2526.pdf">Jedilnik december 2025</a></li>

    </ul>
  </li>
  <li><a href="/Kontakt.html">Dokumenti</a>
    <ul>
	  <li><a href="/docs/RS.pdf" target= "_blank">Prvi roditeljski sestanek v novem šolskem letu 2025_2026</a></li>
	  <li><a href="/docs/Pomembne novosti v novem šolskem letu 2025_2026.pdf" target= "_blank">Pomembne novosti v novem šolskem letu 2025_2026</a></li>
      <li><a href="/docs/POR.doc" target="_blank">Poročilo LDN - 2024_2025</a></li>
      <li><a href="/docs/LDNOS.doc" target="_blank">LDN za leto 2025_2026</a></li>
      <li><a href="/docs/LDNV.doc" target="_blank">LDN vrtca za leto 2024_2025</a></li>
      <li><a href="/docs/HisniRedOSFara_17_18.pdf" target= "_blank">Hišni red</a></li>
      <li><a href="/docs/PŠR.doc" target= "_blank">Pravila šolskega reda</a></li>
      <li><a href="/docs/VN.doc" target= "_blank">Vzgojni načrt</a></li>
	  <li><a href="/docs/Pomembne novosti v novem šolskem letu 2025_2026.pdf" target= "_blank">Pomembne novosti v novem šolskem letu 2025_2026</a></li>
	
		

   
   <li><a href="/predmeti.html">Predmeti - tekoče informacije</a>
    <ul>
      <li><a href="/predmeti.html">Angleški jezik</a></li>
      <li><a href="/predmeti.html">Matematika</a></li>


    </ul>
  </li>

    </ul>
  </li>
  
  <li><a href="/Kontakt.html">Kontakt</a>
  
 
</li>
	

</ul>
