<ul>
  <li class="current"><a href="/">Domov</a></li>
  <li><a href="/Kontakt.html">O šoli</a>
    <ul>
      <li><a href="/Osnovni_podatki.html">Osnovni podatki</a></li>
      <li><a href="/Zaposleni.html">Zaposleni</a></li>
      <li>
        <a href="/docs/OrganiSole.pdf">Organi šole &#8594</a>
        <ul>
          <li><a href="/docs/SvetSole1920.pdf">Svet šole</a></li>
          <li><a href="/docs/SvetStarsev.pdf">Svet staršev</a></li>
        </ul>
      </li>
      <li>
        <a href="/no_content.html">Podružnica osilnica &#8594</a>
        <ul>
          <li><a href="/no_content.html">Urnik</a></li>
          <li><a href="/no_content.html">O šoli</a></li>
        </ul>
      </li>
    </ul>
  </li>
	
  <li><a href="/no_content.html">Za učence in starše</a>
    <ul>
      <li><a href="/docs/URNIK_19_20.pdf" target="_blank">Urnik 2019-2020</a></li>
      <li><a href="/docs/SolskiZvonec_2019_2020.pdf" target="_blank">Šolski zvonec 2019-2020</a></li>
      <li><a href="/PlanOcenjevanja.html">Plan pisnega ocenjevanja 2019-2020</a></li>
      <li><a href="/KriterijiOcenjevanja.html">Kriteriji ocenjevanja</a></li>
      <li><a href="/docs/Predmetnik2019_2020.pdf" target="_blank">Predmetnik 2019-2020</a></li>
      <li><a href="/docs/SolskiKoledar2019_2020.pdf" target="_blank">Šolski koledar 2019-2020</a></li>
      <li><a href="/docs/Izbirni2019_2020.pdf" target="_blank">Izbirni predmeti 2019-2020</a></li>
      <li><a href="/Govorilne_ure.html">Govorilne ure in roditeljski sestanki 2019-2020</a></li>
      <li><a href="/docs/Dnevi_2019_2020.pdf" target="_blank">Dnevi dejavnosti 2019-2020</a></li>
      <li><a href="/docs/marec_1920.pdf" target="_blank">Jedilnik za tekoči mesec_MAREC 2020</a></li>
      <li><a href="/docs/SolskaPot.pdf" target="_blank">Šolska pot</a></li>
      <li><a href="/docs/Projekti20192010.pdf" target="_blank">Projekti in tečaji 2019-2020</a></li>
      <li><a href="/NPZ_2020.html">Nacionalno preverjanje znanja 2019-2020</a></li>


    </ul>
  </li>

  <li><a href="/SolskaSvetovalnaSluzba.html">Svetovalna služba</a>
    <ul>
      <li><a href="/docs/VpisV_1_Razred.pdf" target="_blank">Vpis v 1. razred</a></li>
      <li><a href="/docs/UčenciSPosebnimiPotrebami.pdf" target="_blank">Otroci s posebnimi potrebami</a></li>
      <li><a href="/docs/VpisVSsrednjeSole.pdf">Vpis v srednje šole</a></li>
      <li><a href="/PredmetnikiSrednjihSol.html">Predmetniki srednjih šol</a></li>
      <li><a href="/docs/NadarjeniUcenci.pdf">Nadarjeni učenci</a></li>
      <li><a href="/docs/SodelovanjeSSvetovalnimCentromOSLjuboŠercer.pdf" target="_blank">Sodelovanje s svetovalnim centrom Ljubo Šercer</a></li>
      <li><a href="/docs/PomocVstiski.pdf" target="_blank">Pomoč v stiski</a></li>
      <li><a href="/docs/PreventivnoDelo.pdf" target="_blank">Preventivno delo</a></li>
      <li><a href="/docs/VrtecFara.pdf" target="_blank">Vrtec Fara</a></li>
    </ul>
  </li>
  <li><a href="/no_content.html">Galerija</a>
	<ul>
		<li><a href="/images/CANKARJEVA_VRHNIKA_IN_MUZEJ/01.jpg">CANKARJEVA VRHNIKA</a></li>
		<li><a href="/images/CANKARJEVA_VRHNIKA_IN_MUZEJ/02.jpg">MUZEJ POŠTE IN TELEKOMUNIKACIJ</a></li>
	</ul>
   </li>
   <li><a href="/no_content.html">Vrtec</a>
    <ul>
      <li><a href="/InformacijeVrtec.html">Informacije</a></li>
      <li><a href="/docs/Letni delovni nacrt_18_19.pdf" target="_blank">Letni delovni načrt Vrtca pri OŠ Fara</a></li>
      <li><a href="/docs/Pravilnik o varnosti otrok.pdf" target="_blank">Pravilnik o varnosti otrok</a></li>
      <li><a href="/docs/Obrazci.pdf" target="_blank">Obrazci - vloge</a></li>
      <li><a href="/no_content.html">Dogodki v vrtcu 2019/2020</a></li>
      <li><a href="/docs/januar_1920_P.pdf">Jedilnik za tekoči mesec v vrtcu Fara</a></li>

    </ul>
  </li>
  <li><a href="/no_content.html">Dokumenti</a>
    <ul>
      <li><a href="/docs/Realizacija_LDN_17_18.pdf" target="_blank">Realizacija LDN - 2017/2018</a></li>
      <li><a href="/docs/LDN_poročilo_18_19.pdf" target="_blank">Realizacija LDN - 2018/2019</a></li>
      <li><a href="/docs/LDN_19_20.pdf" target="_blank">LDN za leto 2019/2020</a></li>
      <li><a href="/docs/HisniRedOSFara_17_18.pdf" target= "_blank">Hišni red</a></li>
      <li><a href="/docs/PravilaSolskegaReda_17_18.pdf" target= "_blank">Pravila šolskega reda</a></li>
      <li><a href="/docs/VzgojniNacrt_17_18.pdf" target= "_blank">Vzgojni načrt</a></li>
   
   <li><a href="/no_content.html">Predmeti - tekoče informacije</a>
    <ul>
      <li><a href="/no_content.html">Angleški jezik</a></li>
      <li><a href="/no_content.html">Matematika</a></li>


    </ul>
  </li>

    </ul>
  </li>
  
  <li><a href="/Kontakt.html">Kontakt</a>
  <li><a href="/Covid-19.html">Covid-19</a>
    <ul>
	  <li><a href="no_content.html" target="_blank">Informacije za starše in otroke</a></li>
	  <li><a href="/docs/Slovenščina_navodila za delo.pdf" target="_blank">Slovenščina 16.3.2020 do 20.3.2020</a></li>
	  <li><a href="/docs/Navodila za delo doma_TJA.pdf" target="_blank">Angleški jezik</a></li>
	  <li><a href="/docs/LUM - načrt dela - 3. do 9. razred.pdf" target="_blank">Likovna umetnost</a></li>
	  <li><a href="no_content.html" target="_blank">Matematika</a></li>
	  <li><a href="no_content.html" target="_blank">Glasbena umetnost od 5.-9. razreda</a></li>
	  <li><a href="no_content.html" target="_blank">Kemija</a></li>
	  <li><a href="no_content.html" target="_blank">Biologija</a></li>
	  <li>
		  <a href="no_content.html" target="_blank">Naravoslovje &#8594</a>
	    <ul>
            <li><a href="/docs/Naravoslovje_6.pdf" target="_blank">Naravoslovje_6</a></li>
            <li><a href="no_content.html" target="_blank">Naravoslovje_7</a></li>
	    </ul>
	  </li>
  </ul>
  </li>
	

</ul>
