<ul>
  <li class="current"><a href="/">Domov</a></li>
  <li><a href="/Kontakt.html">O šoli</a>
    <ul>
      <li><a href="/Osnovni_podatki.html">Osnovni podatki</a></li>

      <li>
        <a href="/docs/ORGFARA22_23.pdf">Organi šole &#8594</a>
        <ul>
          <li><a href="/docs/SŠV22_23.pdf">Svet šole</a></li>
          <li><a href="/docs/SVETSTARŠEV22_23.pdf">Svet staršev</a></li>
        </ul>
      </li>
      <li>
        <a href="/Osilnica_info.html">Podružnica osilnica &#8594</a>
        <ul>
         
          <li><a href="/Osilnica_info.html">O šoli</a></li>
        </ul>
      </li>
    </ul>
  </li>
	
  <li><a href="/zaucenceinstarse.html">Za učence in starše</a>
    <ul>
      <li><a href="/docs/URNIK2425.pdf" target="_blank">Urnik 2024-2025</a></li>
      <li><a href="/docs/ŠZ2425.pdf" target="_blank">Šolski zvonec 2024-2025</a></li>
      
      <li><a href="/docs/PREDMETNIK.pdf" target="_blank">Predmetnik 2024 - 2025</a></li>
      <li><a href="/docs/ZAPOSLENI2425.pdf" target="_blank">Zaposleni na Oš Fara 2024 - 2025</a></li>
      <li><a href="/docs/ŠVN2425.pdf" target="_blank">Šola v naravi 2024 - 2025</a></li>
      <li><a href="/docs/GU2425.pdf" target="_blank">Govorilne ure za učence in starše 2024 - 2025</a></li>
      <li><a href="/docs/ŠOLSKI_KOLEDAR_2425.pdf" target="_blank">Šolski koledar 2024 - 2025</a></li>
      <li><a href="/docs/IP2425.pdf" target="_blank">Izbirni predmeti 2024 - 2025</a></li>
      <li><a href="/Govorilne_ure.html">Govorilne ure in roditeljski sestanki 2024 - 2025</a></li>
      <li><a href="/docs/DD2425.pdf" target="_blank">Dnevi dejavnosti 2024 - 2025</a></li>
      <li><a href="/docs/SolskaPot.pdf" target="_blank">Šolska pot</a></li>
      <li><a href="/docs/PR2425.pdf" target="_blank">Projekti 2024 - 2025</a></li>
      <li><a href="/docs/JD.pdf" target="_blank">Jedilnik April 2025</a></li>  
      <li><a href="/docs/PŠP.pdf" target="_blank">Pravilnik o šolski prehrani</a></li>
     
  
 


    </ul>
  </li>

  <li><a href="/SolskaSvetovalnaSluzba.html">Svetovalna služba</a>
    <ul>
      <li><a href="/docs/VpisV_1_Razred.pdf" target="_blank">Vpis v 1. razred</a></li>
      <li><a href="/docs/UčenciSPosebnimiPotrebami.pdf" target="_blank">Otroci s posebnimi potrebami</a></li>
      <li><a href="/docs/VpisVSsrednjeSole.pdf">Vpis v srednje šole</a></li>
      <li><a href="/PredmetnikiSrednjihSol.html">Predmetniki srednjih šol</a></li>
      <li><a href="/docs/NadarjeniUcenci.pdf">Nadarjeni učenci</a></li>
      <li><a href="/docs/SodelovanjeSSvetovalnimCentromOSLjuboŠercer.pdf" target="_blank">Sodelovanje s svetovalnim centrom Ljubo Šercer</a></li>
      <li><a href="/docs/PomocVstiski.pdf" target="_blank">Pomoč v stiski</a></li>
      <li><a href="/docs/PreventivnoDelo.pdf" target="_blank">Preventivno delo</a></li>
      <li><a href="/docs/VrtecFara.pdf" target="_blank">Vrtec Fara</a></li>
    </ul>
  </li>
  <li><a href="/no_content.html">Galerija</a>
	<ul>
		<li><a href="/images/CANKARJEVA_VRHNIKA_IN_MUZEJ/01.jpg">CANKARJEVA VRHNIKA</a></li>
		<li><a href="/images/CANKARJEVA_VRHNIKA_IN_MUZEJ/02.jpg">MUZEJ POŠTE IN TELEKOMUNIKACIJ</a></li>
	</ul>
   </li>
   <li><a href="/Kontakt.html">Vrtec</a>
    <ul>
 
      <li><a href="/InformacijeVrtec.html">Informacije</a></li>
      <li><a href="/docs/Pravilnik o varnosti otrok.pdf" target="_blank">Pravilnik o varnosti otrok</a></li>
      <li><a href="/docs/Obrazci.pdf" target="_blank">Obrazci - vloge</a></li>
      <li><a href="/docs/JD.pdf">Jedilnik April 2025</a></li>

    </ul>
  </li>
  <li><a href="/Kontakt.html">Dokumenti</a>
    <ul>
      <li><a href="/docs/POROČILO LDN_2324.pdf" target="_blank">Poročilo LDN - 2023_2024</a></li>
      <li><a href="/docs/LDN_OŠ FARA 2024-25.pdf" target="_blank">LDN za leto 2024_2025</a></li>
      <li><a href="/docs/LDN vrtec 24_25.pdf" target="_blank">LDN vrtca za leto 2024_2025</a></li>
      <li><a href="/docs/HisniRedOSFara_17_18.pdf" target= "_blank">Hišni red</a></li>
      <li><a href="/docs/PSRN.pdf" target= "_blank">Pravila šolskega reda</a></li>
      <li><a href="/docs/VNN.pdf" target= "_blank">Vzgojni načrt</a></li>

   
   <li><a href="/predmeti.html">Predmeti - tekoče informacije</a>
    <ul>
      <li><a href="/predmeti.html">Angleški jezik</a></li>
      <li><a href="/predmeti.html">Matematika</a></li>


    </ul>
  </li>

    </ul>
  </li>
  
  <li><a href="/Kontakt.html">Kontakt</a>
  
 
</li>
	

</ul>
